<div id="header" class="container-fluid"> 
  <img src="../../../assets/images/logo.jpg" alt="logo.."[width]="200"  >
  <img src="../../../assets/images/logo.jpg" alt="logo.."[width]="200"  >
  <h1> Bienvenido a la pizzeria Don Remolo</h1>
  <img src="../../../assets/images/logo.jpg" alt="logo.."[width]="200" >
  <img src="../../../assets/images/logo.jpg" alt="logo.."[width]="200"  >
  </div>
  


<router-outlet></router-outlet>


<footer id="footer">
  <div>
    <img src="../../../assets/images/logo.jpg" alt="logo.."[width]="50"  >  
    <span class="p-3">Telefono de contacto: 3030303055</span>
    
    <span class="p-3">Direccion: calle falsa 123</span>
  </div>
</footer>