#menuBody{
        margin-top: 0px;
        background-image: url('/assets/images/logo.jpg');
        background-repeat: repeat;
      
     
    
}
.container{
    text-align: center;
}

.container div{
    text-align: left;
}


#switch{
    width: 80%;
}

#nav{
    text-align: center;
    
}

#tituloMenu{
    color: blue;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.btn-group{
    background-color: #fff;
    font-style: italic;
    font-weight: bold !important;
}

